<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <title>Registration</title>
    </head>
    <body>
        <h1>User Registration</h1>

        <!-- Display Error Messages -->
        <div th:if="${error != null}" style="color: red">
            <p th:text="${error}"></p>
        </div>

        <!-- Registration Form -->
        <form action="register" method="post">
            <!-- CSRF token -->
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->

            <label for="email">Email:</label>

            <input
                type="email"
                id="email"
                name="email"
                th:value="${email}"
                required
            />

            <br />
            <br />

            <label for="name">Name:</label>

            <input
                type="text"
                id="name"
                name="name"
                th:value="${name}"
                required
            />

            <br />
            <br />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <br />
            <br />

            <label for="confirmPassword">Confirm Password:</label>
            <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                required
            />

            <br />
            <br />

            <label for="role">Role:</label>

            <select id="role" name="role" class="form-select" required>
                <option value="">Select role...</option>
                <option
                    th:each="role : ${roles}"
                    th:value="${role.name().toLowerCase()}"
                    th:text="${role}"
                    th:selected="${selectedRole.equalsIgnoreCase(role.name())}"
                ></option>
            </select>

            <br />
            <br />

            <button type="submit">Register</button>
        </form>

        <br />

        <!-- Link to Login Page -->
        <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
    </body>
</html>
